.logo{
    height: auto;
    width: 25%;
    align-self: center;
}
.centeralign
{
    align-self: center;
    align-items: center;
    align-content: center;
}

.forms{
    height: auto;
    width:50%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
}

.centerContent{
margin-right: auto;
margin-left: auto;
}
.alignright{
    margin-left: auto;
    margin-right:1%;
}

