
@{
    ViewData["Title"] = "Loggedin";
}

<div class="row">
    <img src="~/images/islington.png" class="alignright" height="50" width="50" />
</div>

<div class="row">
    <div class="centerContent">
        <a href="@Url.Action("PostMessages","Home")" class="btn btn-primary" style="width:100%">Post new Notice</a>
    </div>
</div>
<div class="row" style="margin-top:10%;">
    <div class="centerContent">
        <a href="@Url.Action("NoticeList","Home")" class="btn btn-primary" style="width:100%">Browse notice board</a>
    </div>
</div>


@section Scripts{
<script>
    var token = window.localStorage.getItem("notice_token");
    if (token == null) {
        window.location = "@Url.Action("Index","Home")";
    }
    $(document).ready(function () {
     

    });
</script>
}

